.container {
    background-color: antiquewhite;
    opacity: 0.9;
    height: 100%h;
}

label {
    font-style: normal;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }