
<div class="container mt-5">
    <div *ngFor="let ad of ads"
        class="card" style="width: 18rem;">
        <div class="card-body">
        <h3 class="card-title d-flex justify-content-between">{{ ad.title }}<span class="badge bg-primary">-{{ ad.discount/100 | percent: '2.0'}}</span></h3>
        <h6 class="card-subtitle mb-2">{{ ad.price | currency: 'BRL'}}</h6>
        <h4 class="card-subtitle mb-2">{{ ad.offer | currency: 'BRL' }}</h4>
        <p class="card-text">{{ ad.description }}</p>
    </div>
    </div>
</div>
